.updateCard {
	display: flex;
	flex-direction: column;

	.updateCardBtns {
		display: flex;
		justify-content: end;
		padding: 10px;

		.updateBtn {
			margin-right: 10px;
			padding: 0.4em 1em;
			font-size: 0.9em;
			font-family: inherit;
			background-color: #ac64ff;
			border: 0;
			cursor: pointer;

			&:hover {
				background-color: #bc83ff;
			}
		}

		.updateBtn:last-child {
			margin-right: 0px;
		}
	}
}
