.notificationCard {
	padding: 10px;
	text-wrap: balance;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}

	&:last-child:after {
		border-bottom: none;
	}

	&:hover {
		background-color: #232323;
	}

	.baseCardElements {
		display: flex;
		justify-content: space-between;

		.cardIcon {
			width: 24px;
			height: 24px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			flex-grow: 0;
		}

		.cardMessage {
			flex-grow: 1;
			display: flex;
			align-self: center;
		}

		p {
			margin-left: 10px;
		}

		.cardCloseBtnContainer {
			display: flex;
			align-items: center;
			height: 24px;
			width: 24px;
			flex-shrink: 0;

			.cardCloseBtn {
				width: 20px;
				height: 20px;
				cursor: pointer;
				border-radius: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 1px;
				flex-shrink: 0;
				flex-grow: 0;

				&:hover {
					background-color: rgba(255, 255, 255, 0.1);
				}
			}
		}
	}
}
