.notiBox {
	position: absolute;
	bottom: 40px;
	right: 10px;
	width: 450px;
	min-height: 32px;
	background: #1e1e1e;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.4), 0 0px 20px 0 rgba(0, 0, 0, 0.5);

	.notiBoxHeader {
		position: relative;
		height: 32px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 3px 10px;
		background-color: #181818;

		.closeNotificationsContainer {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 24px;
			width: 24px;

			.closeNotifications {
				width: 20px;
				height: 20px;
				cursor: pointer;
				border-radius: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 1px;
				flex-shrink: 0;
				flex-grow: 0;

				&:hover {
					background-color: rgba(255, 255, 255, 0.1);
				}
			}
		}
	}

	.notiboxContent {
		width: 100%;
		position: relative;
	}
}
